html{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	
	font-family:"Roboto", Arial, sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:400;
	color:#283136;		
}

*, 
*::before,
*::after{
	box-sizing:inherit;
}

a {
  text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
	width:1200px;
	margin:0 auto;
	padding:0 20px;
}

.main-header{
	background-color:#eeeeee;
	padding-top: 50px;
}

.main-navigation{
	display:flex;

	font-size:16px;
	line-height:30px;
	font-weight:500;
	color:black;
	text-transform: uppercase;	
}

.main-header-logo{
	width:160px;
	margin-right:202px;
	
}
.main-header-logo img{
	display: block;
}

.site-navigation{
  	display:flex;
	flex-wrap: wrap;

	width:650px;
	margin: 0;
	padding: 0;
	padding-top: 25px;

    list-style: none;
}

.site-navigation-current a{
	display: block;
	padding-bottom: 3px;
	    
	border-bottom: 2px solid #fb565a;
    
    
}

.site-navigation li{
	margin-right: 45px; 
}

.cart-container{
	width:115px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	text-align: right;
	padding-top: 25px;
}

.cart-container .cart{
	position: relative;
}

.cart::before {
  content: "";
  
  position: absolute;
  top: 7px;
  left: 0;
  
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a,
.cart-container a {
	display: block;
	color:black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-container a:hover,
.cart-container a:focus {
	color:#fb565a;
}

.site-navigation-current a:hover,
.site-navigation-current a:focus{
	color: black;
	cursor: default;
}

.main-navigation a:active {
	color:rgba(0, 0, 0, 0.3);
}

.slider{
	background-color:#eeeeee;
}

.slide{
	padding-top: 77px;
	padding-bottom: 79px; 
}
.slide-1{
	background: url("../img/slide-1.png") no-repeat 431px 16px;
}

.slide-name{
	font-size:55px;
	line-height:55px;
	font-weight:500;
	margin: 0;
}

.slide-description{
	margin: 26px 0 39px;
}

.btn{
	color:#ffffff;
	text-transform: uppercase;
	font-size:16px;
	line-height:18px;
	background-color:#fb565a;
	text-align:center;
	
	padding:16px;
	display:inline-block;
	vertical-align:middle;
	border:0;
	border-radius:3px;
}
.btn:hover,
.btn:focus {
	background-color:#e74246;
}

.btn:active{
	background-color:#d7373b;
	box-shadow:inset 0 3px 0 rgba(0, 1, 1, 0.1);
	color:rgba(255, 255, 255, 0.3);
}
.btn-slide{
	padding: 16px 54px;
}
.service-item .btn{
	padding: 16px 40px;
}

.btn-green{
	background-color:#00ca74;
}

.btn-green:hover,
.btn-green:focus {
	background-color:#00bc6c;
}

.btn-green:active{
	background-color:#00aa62;
}

.btn-yellow{
	background-color:#efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color:#eab534;
}

.btn-yellow:active{
	background-color:#e5a722;
}

.services{
	width:1160px;
	padding:81px 0;
	border-bottom:2px solid #eeeeee;
}

.services-list{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 1100px;

    list-style: none;
}

.service-item{
	width: 300px;
}

.services h3{
	margin: 18px 0 17px;

	font-size:24px;
	line-height:30px;
	text-transform:uppercase;
}
.service-item p{
	margin-bottom: 31px;
}

.about{
	display: flex;
	justify-content: space-between;
	padding:40px 0 48px;
	
	border-bottom:2px solid #eeeeee;
}

.left-about{
	width: 700px;
	padding-top: 33px;
}

.right-about{
	width: 360px;
}

.about-header{
	margin: 0 0 33px;

	font-size:45px;
	line-height:45px;
	font-weight:500;
	color:black;
}

.about-header + p{
	margin: 0 0 39px;
}

.about-txt{
	font-size:16px;
	line-height:24px;
	font-weight:700;
	color: black;
	text-transform: uppercase;
}

.left-txt{
	margin: 0px 0 24px;
}

.left-list-about{
	padding: 0;
	margin: 0;
	list-style: none;
}

.left-list-about .left-item{
	display: flex;
  	align-items: center;

	margin-bottom: 24px;
}

.left-item::before{
	content: "";

  	width: 25px;
  	height: 2px;
  	margin-right: 11px;

  	background: #fb565a;
}

.about-logo{
	margin: 0 0 28px;
}

.right-txt{
	text-align: center;
    margin: 0 0 40px;
}

.about-table{
	width: 360px;

	font-size:16px;
	line-height:18px;

	border-collapse: collapse;
}

.about-percent{
	font-size:45px;
	line-height:10px;
	font-weight:700;
	line-height: 1;
}

.about-percent .about-data{
	padding-right: 19px;
}

.about-data sup{
	font-size: 62%;
}

.data-description td{
	padding-top: 18px;
}

.partners{
	padding: 50px 0 34px;
	margin-bottom: 80px;

	border-bottom:2px solid #eeeeee;
}
	


.partners-list{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

    list-style: none;
}

.partner-item{
	width: 260px;
	position: relative;
	display: flex;
}

.partner-item:not(:last-child)::after{
	content: "";
	width: 2px;
	height: 52px;
	position:absolute;
	left:279px;
	top:19px;

	background:#eeeeee; 
}

.partners-list a{
	margin: auto;
	opacity:0.2;
}

.partners-list a:hover,
.partners-list a:focus{
	opacity:1;
}

.partners-list a:active{
	opacity:0.2;
	
}

.main-footer{
	position: relative;
	margin-bottom: 70px;
}

.map{
	position: relative;
	padding: 55px 0;
}

.map img{
	position: absolute;
    left: 50%;
    top: 0;
    margin-left: -720px;
}

.map iframe{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;
    
}

.contacts{
	overflow: hidden;
	margin-bottom: 70px;
}

.contact{
	z-index: 10;
    position: relative;
	padding: 30px 50px 47px;
    width: 319px;

    background: rgba(255, 255, 255, 1);
}

.contact-name-company{
	margin-bottom: 23px;
}
.contact-adress{
	margin-bottom: 18px;
}
.contact-phone-numbert{
	margin-bottom: 13px;
}

.write-to-us{
	display: block;
}

.contact p,
.contact p a{
	font-size:16px;
	line-height:18px;
	color: #666666;
}

.contact strong{
	font-size:18px;
	line-height:30px;
	color: black;
}

.social-container{
	display: flex;
}

.social-button{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 78px;
  	height: 78px;

  	border-radius: 50%;
  	background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active{
	box-shadow:inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.social-button:active path{
	fill: #e37376;
}

.social-list{
	display: flex;
	justify-content: space-between;

	width:260px;
	margin: 0 140px 0 0;
	padding: 0;

    list-style: none;
}

.social-promo{
	width:600px;
	padding-top: 6px;
}

.promo-strong{
	margin: 0 0 10px;

	font-size:36px;
	line-height:36px;
	font-weight:700;
	color: black;
}

.promo-txt{	
	margin: 0;

	font-size:16px;
	line-height:22px;
	color: #444444;
}

.modal{
	width: 960px;
	box-shadow: 0 20px 75px 0 #000101;
	position: absolute;
	left: 50%;
	bottom: 180px;
	margin-left: -480px;
	padding: 67px 100px 84px;
	z-index: 1000;
	
	display: none;
	background-color: white;
}

.modal.active{
	display: block;
}

.modal h2{
	margin:0 0 35px;

	font-size:45px;
	line-height:45px;
	font-weight:500;
	color: black;
}

.write-us-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.half-width{
	width: 360px;
	margin: 0 0 30px;
}

.full-width{
	width: 100%;
	margin:0 0 47px;
}


.write-us-form label{
	display: block;
	margin-bottom: 10px;

	font-size:16px;
	line-height:18px;
	font-weight:500;
	color: black;
}

.write-us-input::placeholder{
	color: rgba(68, 68, 68, 0.5);
}

.write-us-input{
	width: 100%;		
	border: 2px solid #d7dcde;
	border-radius:2px;
	padding: 14px 13px;
	height: 50px;

	font-size:16px;
	line-height:18px;
}

.write-us-textarea{
	height: 118px;
	resize: none;
}

.write-us-input:hover{
	border: 2px solid #b4b9bb;
}

.write-us-input:focus{
	outline:0;
	border-color:#000000;
	
}
.write-us-input:focus::placeholder{
	color:#444444;
}

.button-close{
	position: absolute;
	width: 17px;
	height: 30px;
	right: 90px;
	top: 78px;
	padding: 0;
	
	background: url("../img/close-cross.svg") no-repeat 50% 50%;
	background-size: contain;
	opacity: 0.3;
	border: 0;
	outline: none;
	
	font-size: 0;

	cursor: pointer;
}

.button-close:hover,
.button-close:focus {
	opacity: 1;
}

.button-close:active {
	opacity: 0.1;

}

.write-us-form .btn{
	width: 260px;
}

/*!Стили каталога!*/
/*!!!!!!!!!!!!!!!!*/

.heading-container {
	padding: 40px 0 70px;
	margin-bottom: 55px;
	background-color:#eeeeee;	
}

.main-heading {
	text-align: center;

	font-size:55px;
	line-height:55px;
	font-weight:500;
	color: black;
}


.filters{
	width: 260px;
}

.filter fieldset{
	margin: 0;
	padding: 0;

	border: none;
}

.filter ul{
  	padding: 0;
  	margin: 0;

  	list-style: none;
}

.filter legend{
	font-size:18px;
	line-height:30px;
	font-weight:700;
	color:black;
	text-transform: uppercase;
}

.filter-option label{
	font-size:16px;
	line-height:20px;
	color:#283136;
}

.price-titel{
	margin-bottom: 50px;
}

.range-controls{
	position: relative;
  	height: 80px;
  	padding-top: 39px;
  	padding-right: 20px;
  	padding-left: 20px;
  	margin-bottom: 14px;
  	border-radius: 2px;
  	background: #eeeeee;
}

.range-controls .scale{
  	height: 2px;
  	background: #d7dcde;
}

.range-controls .bar{
  	width: 70%;
  	height: 2px;
  	background: #00ca74;
}

.range-controls .toggle{
	box-sizing: content-box;
  	position: absolute;
  	top: 30px;
  	left: 0px;
  	width: 4px;
  	height: 4px;
  	cursor: pointer;
  	border: 8px solid #fff;
  	border-radius: 50%;
  	background: #ababab;
  	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min{
  	left: 18px;
}

.range-controls .toggle-max{
  	left: 160px;
}

.price-controls{
  	font-size: 0;
}

.price-controls label{
  	display: inline-block;
  	width: 50%;

  	font-size: 16px;
  	line-height: 22px;
  	text-transform: uppercase;
}

.price-controls label:last-child{
  	text-align: right;
}

.price-controls input{
  	font-family: 'Roboto', 'Arial', sans-serif;
  	font-size: 16px;
  	line-height: 22px;
  	width: 80px;
  	margin-left: 8px;
  	padding: 8px 10px;
  	text-align: center;
  	color: #283136;
  	border: none;
  	border-radius: 2px;
  	background: #eeeeee;
}

.filter .price-conteiner{
	margin-bottom: 53px;
}

.option-container legend{
	margin-bottom: 15px;
}

.option-container .filter-option:not(:last-of-type){
	margin-bottom: 15px;
}

.filter .option-container{
	margin-bottom: 45px;
}

.filter .option-container:last-of-type{
	margin-bottom: 50px;
}

.option-container span{
	position: relative;

	padding-left: 35px;

	cursor: pointer;
}

		/*ОФОРМЛЯЕМ РАДИО-КНОПКИ*/

.filter-option input[type="radio"] + .radio-indicator:before{
	content: "";

	position: absolute;
	top: -3px;
	left: 0;

	width: 25px;
	height: 25px;

	background: url("../img/radio-off.svg") no-repeat 0 0;
	opacity: 0.4; 
}

.option-container label:hover,
.option-container label:focus{
	color: black;
}

.option-container label:hover .radio-indicator:before,
.option-container label:focus .radio-indicator:before{
	opacity: 1;
}

.filter-option input[type="radio"]:checked + .radio-indicator:before{
	background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-option input[type="radio"]:disabled + .radio-indicator:before{
	opacity: 0.1;
}

.filter-option input[type="radio"]:disabled + .radio-indicator{
	color: rgba(40, 49, 54, 0.3);
	cursor: default;
}

		/*ОФОРМЛЯЕМ ЧЕК-БОКСЫ*/

.filter-option input[type="checkbox"] + .checkbox-indicator:before{
	content: "";

	position: absolute;
	top: -2px;
	left: 0;

	width: 28px;
	height: 23px;

	background: url("../img/checkbox-off.svg") no-repeat 0 0;
	opacity: 0.4; 
}

.option-container label:hover .checkbox-indicator:before,
.option-container label:focus .checkbox-indicator:before{
	opacity: 1;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator:before{
	background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-option input[type="checkbox"]:disabled + .checkbox-indicator:before{
	opacity: 0.1;
}

.filter-option input[type="checkbox"]:disabled + .checkbox-indicator{
	color: rgba(40, 49, 54, 0.3);
	cursor: default;
}


.filter-button{
	width: 260px;
    height: 50px;
    padding: 0;

	color:black;
	font-weight:500;
	
	background-color:#eeeeee;
}

.filter-button:hover,
.filter-button:focus {
	background-color:#dfdfdf;
}

.filter-button:active{
	background-color:#d5d5d5;
	outline:0;

	color: rgba(0, 0, 0, 0.3);
}

.catalog-sort{
	display: flex;
}

.catalog-sort ul{
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-sort{
	margin-bottom: 55px;
	align-items: baseline;
}

.sort-header{
	margin: 0;
	
	font-size:18px;
	line-height:18px;
	color:black;
	text-transform: uppercase;
}

.catalog-sort .sort-type{
	margin-left: auto;
	width: 271px;
	justify-content: space-between;
}

.catalog-sort .sort-direction{
	display: flex;
	justify-content: space-between;
	margin-left: 48px;
	width: 42px;
}

.sort-dir-container{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.sort-up path{
	fill: #a6a6a6;
	opacity: 0.2;
}

.sort-dir-container:not(.sort-check):hover path{
	fill: #a6a6a6;
	opacity: 1;
}

.sort-dir-container:not(.sort-check):active path{
	fill: #231F20;
	opacity: 1;
}

.catalog-columns{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.catalog-container{
	width: 760px;
}

.catalog{
	display: flex;
	justify-content: space-between;
}

.catalog-sort a{
	font-size:14px;
	line-height:18px;
	color:rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.sort-txt:not(.sort-check):hover a{
	color:rgba(0, 0, 0, 0.6);
}

.sort-txt:not(.sort-check):active a,
.sort-check a{
	color:rgba(0, 0, 0, 1);
}

.catalog-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 28px;
	padding: 0;

	list-style: none;
}

.catalog-item{
	position: relative;

	width: 360px;
	height: 616px;
	margin-bottom: 33px;

	border-top: 40px solid #e9e9e9;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.catalog-item:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: -27px;
  left: 16px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 23px 0 0 #fff, 46px 0 0 #fff;
}

.catalog-item:hover {
  border-color: #4d4d4d;
}

.item-info{
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;

	background-color:#eeeeee;
	text-align: center;
}

.catalog-item:hover .item-info{
  display: block;
}

.item-header{
	margin: 25px 0 0;
}

.item-header a{
	font-size:18px;
	line-height:30px;
	font-weight:700;
	color:black;
	text-transform: uppercase;
}

.item-description{
	margin-bottom: 30px;

	font-size:16px;
	line-height:18px;
	color:#666666;
}

.price-button{
	margin-bottom: 43px;
    padding: 16px 60px;
}

.pagination-list{
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}
.pagination-item{
	margin-right: 11px;
}

.pagination-button{
	display: block;

	min-width: 50px;
	height: 50px;
	padding: 16px 5px;

	font-size:16px;
	line-height:18px;
	font-weight:500;
	color:black;
	text-align: center;
	text-transform: uppercase;
	
	background-color:#eeeeee;
}

.pagination-button-next{
	min-width: 260px;
}

.pagination-button:not(.pagination-item-current):hover,
.pagination-button:not(.pagination-item-current):focus {
	background-color:#dfdfdf;
}

.pagination-button:active{
	background-color:#d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current{
	padding: 13px 5px;
	background:white;
	border:3px solid #dbdbdb;
	cursor: default;
}