body{
	margin:0;
	padding:0;
	
	font-family: "Roboto", Arial, sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:400;
	color:#283136;		
}

a {
  text-decoration: none;
}

.main-navigation{
	font-size: 16px;
	line-height: 30px;
	font-weight:500;
	color:black;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.site-navigation{
  list-style: none;
}

.site-navigation a,
.cart-container a {
	color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-container a:hover,
.cart-container a:focus {
	color: #fb565a;
}

.slider{
	background-color: #eeeeee;
}

.slide-name{
	font-size: 55px;
	line-height: 55px;
	font-weight:500;
}
.slide a{
	color: #ffffff;
	background-color: #fb565a;
}
.slide a:hover,
.slide a:focus {
	background-color: #e74246;
}

h1{
	font-weight:normal;
	color:#000000;
	font-size:55px;
	line-height:55px;	
}

h2{
	font-weight:normal;
	color:#000000;
	font-size:45px;
	line-height:45px;	
}

h3{
	font-weight:bold;
	color:#000000;
	font-size:24px;
	line-height:30px;	
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}